<footer class="footer">
	<div class="footer__container">
		<div class="footer__company-name">
			<img class="footer__logo" src="/imgs/non.png" alt="logo">
			<a href="https://zalo.me/0343582108"><img class="footer__social-media" src="/imgs/zalo1.png" style="transform: scale(3.0);" alt="social-media"></a>
		</div>
		<div class="footer__company-name--disable">
			<img class="footer__logo" src="/imgs/non.png" alt="logo">
			<img class="footer__social-media" src="/imgs/set-logo.png" alt="social-media">
		</div>
		<div class="footer__content--column2">
			<div class="footer__content--column">
				<div class="footer__content-title">
					<h3>LIÊN HỆ QUA MẠNG XÃ HỘI</h3>
				</div>
				<div class="footer__content-main">
					<a href="https://www.facebook.com/?locale=vi_VN" class="footer__listtext">Facebook .</a>
					<a href= "https://zalo.me/0977426620" class="footer__listtext">Zalo.</a>
					<img class = "zalo" alt="qr_code_zalo" style="width: 80px;height: auto;" src = "/imgs/zalo.png">
					
				</div>
			</div>
			<div class="footer__help-content--column">
				
			</div>
		</div>

		<div class="footer__contact-content--column">
			<div class="footer__content-title">
				<h3>LIÊN HỆ</h3>
			</div>
			<div class="footer__content-main">
				<div class="footer__content-item">
					<span class="material-symbols-outlined">location_on</span>
					<a href="https://www.google.com/maps/place/Trường+Đại+học+Điện+Lực/@21.046393,105.7823633,17z/data=!3m1!4b1!4m6!3m5!1s0x3135abb158a2305d:0x5c357d21c785ea3d!8m2!3d21.046388!4d105.7849436!16s%2Fm%2F0by1q__?hl=vi-VN&entry=ttu&g_ep=EgoyMDI0MTAxNC4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="footer__listtext">Shopping</a>
				</div>
				<div class="footer__content-item">
					<span class="material-symbols-outlined">call</span>
					<span class="footer__listtext phone">0877661730</span>
				</div>
				<div class="footer__content-item">
					<span class="material-symbols-outlined">mail</span>
					<a href="mailto:chutuanmanh2003@gmail.com" class="footer__listtext">chutuanmanh2003@gmail.com</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer--bottom">
		<div class="footer__container--bottom">
		</div>
	</div>
</footer>