<footer class="footer">
	<div class="footer__container">
		<div class="footer__company-name">
			<div class="footer__content-title"><h4>Về chúng tôi</h4></div>
			<div class="footer-content">
				<p><a  target="_blank" rel="noreferrer noopener"><span >Chính sách bảo mật</span></a></p>
				<p><a  target="_blank" rel="noreferrer noopener"><span>Chính sách thanh toán</span></a></p>
				<p><a target="_blank" rel="noreferrer noopener"><span >Chính sách giao nhận</span></a></p>
				<p><a target="_blank" rel="noreferrer noopener"><span >Chính sách đổi trả</span></a></p>
				<p><a  target="_blank" rel="noreferrer noopener"><span>Thông tin chủ sở hữu Website</span></a></p>
				<p><a  target="_blank" rel="noreferrer noopener"><span>Chính sách thanh toán</span></p>         
			</div>
		</div>
		<div class="footer__company-name--disable">
			<img class="footer__logo" src="/imgs/ico-logo-white.png" alt="logo">
	
		
		</div>
		<div class="footer__content--column2">
			<div class="footer__content--column">
				<div class="footer__content-title">
					<h4>Liên hệ mạng xã hội</h4>
				</div>
				<div class="footer__content-main">
					<a href="https://www.facebook.com/dinhnguyen.pdn/" class="footer__listtext">Facebook</a>
					<a href= "https://zalo.me/0334732505" class="footer__listtext">Zalo</a>
					<img class = "zalo" alt="qr_code_zalo" style="width: 80px;height: auto;" src = "/imgs/zalonguyen.jpg">
					
				</div>
			</div>
		
		</div>

		<div class="footer__contact-content--column">
			<div class="footer__content-title">
				<h4>Liên hệ</h4>
			</div>
			<div class="footer__content-main">
				<div class="footer__content-item">
					<span class="material-symbols-outlined">location_on</span>
					<a target="_blank" class="footer__listtext">190 HQV, Bắc Từ Liêm, Hà Nội</a>
				</div>
				<div class="footer__content-item">
					<span class="material-symbols-outlined">call</span>
					<span class="footer__listtext phone">0123456789</span>
				</div>
				<div class="footer__content-item">
					<span class="material-symbols-outlined">mail</span>
					<a href="mailto:phamdinhnguyen112@gmail.com" class="footer__listtext">phamdinhnguyen112@gmail.com</a>
				</div>
			</div>
		</div>
	</div>
	
</footer>