<!-- Header -->
<header class="header-small">
    <div class="header-small-left">
        <a href="/"><img src="/imgs/logomain.png" alt="logo" style="width: 60px; height: auto;"></a>
        <h2 style="padding: 10px;">
            <%=title%>
        </h2>
    </div>
    <div class="header-small__support-info">
        <div class="header-small__dropdown-help">
            
            <a href="#" class = "help--mobile">
                <span class="material-symbols-outlined">help</span>
            </a>
            <div class="header-small__dropdown-help__content">
                <img src="/imgs/avatar.png" alt="help">
                <p>Quét mã QR</p>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->